#homediv:hover {
opacity: .1;
transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-webkit-transition: opacity .5s ease-in-out;
}

.projectImg {
  width: 20%;
  border-style: solid;
  border-color: blue;
}
#footer {
  width: 100% !important;
  overflow: hidden;
}

#name {
font-weight: bolder;
  text-align: center;
  font-family: big caslon;
}
#name2 {
opacity: .9;
  font-family: interceptor;
  text-align: center;
  font-weight: lighter;
}
.portfolio {
height: 150px;
}
#portfolio {

}
.download {
  text-align: center;
}
.spanhome {

  font-size: 20px;
  color: grey;
}
.spanhome2 {
  opacity: 1;
  font-size: 40px;

}
#navhome {
  color: lightblue;
}
#contact {
  display: block;

}
#developerImg {
  display: flex;
  float: right;
}
@media screen and (max-device-width: 600px) {
  .name2 {
    visibility: hidden;
    clear: both;
    float: left;
    display: none;
  }
}
#name {
  font-family: amarillo;
  font-size: 20px;
  text-shadow: 2px 2px lightblue;
}



#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    transition: 1s;
}

.wrapper:hover #slide {
    transition: 1s;
    left: 0;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100% !important;
    color: #777;
    line-height: 1.8;
    margin: 0px !important;
    padding: 0px !important;
}

#resume {
  background-color: lightblue;
  border-radius: 15px;
  text-decoration: none !important;
  height: 50px;
  width: 120px;
  opacity: .7;
}
.link {
  text-decoration: none !important;
}


/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image:
    url("../images/anusone1.jpg");
    height: 89%;
    background-size: contain;

}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image:
    url("../images/anusone2.jpg");
    min-height: 400px;
    background-size: contain;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image:
    url('../images/anusone3.jpg');
    min-height: 400px;
    background-size: contain;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
